.Container {
    padding: 15px;
    margin: 30px;
    border: 1px solid #BCB8B1;
    border-radius: 8px;
    background: #FFF;
    width: 400px !important;
    box-shadow: 2px 4px 10px #00000066;
}

.Container > .FinalResult {
    font-size: 50px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Container > .FinalResult > .Percentage {
    color: #BCB8B1;
    font-size: 25px;
}

.FormButton {
    width: 100%;
}
